
.navbar-dark .navbar-nav .nav-link{
    color:purple !important;
    font-size: 22px;
}

.navbar-dark .navbar-brand{
    color: purple !important;
    font-size: 36px;
}


header{
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url(../img/carrusel1.jpg);
}

@media only screen and(max-width:600px){
    header{
        background-position: 20% 33%;
    }
}

.navbar-toggler{
    border:none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}
 .btn-dark{
    font-size: 20px !important;
    color: white !important;
    background-color: purple !important;

}