
.navbar-dark .navbar-nav .nav-link{
    color:antiquewhite !important;
    font-size:20px;
    
}
body{
    /*background: rgb(232, 212, 233);*/
    background-color: rgb(232, 212, 233);
  }

.bg{
    background-image: url(../img/login_pic.jpg);
    background-position: center center;
  
  }

.body-background{
    background-color: black !important;
}
.body-background2{
    background-color:rgb(232, 212, 233);
}

  footer{
    padding: 0% !important;
    margin: 0% !important;
    text-align: center;
    background-color:#212F3D;
    color: whitesmoke;
    font-size:smaller;
  }
.navbar-dark .navbar-brand{
    color: purple !important;
    font-size: 40px;
}

.nav-item{
    padding-right: 5px;
}


header{
    height: 10%;
    min-height: 150px;
    --background-image: url(../img/carrusel1.jpg);
}

@media only screen and(max-width:600px){
    .navbar-dark .navbar-brand{
        color: purple !important;
        font-size: 25px;
    }
}

.navbar-toggler{
    --border:none !important;
    color: purple !important;
    border-color:purple !important;
    background-color: purple !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

 .btn-dark{
    font-size: 20px !important;
    color: white !important;
    background-color: purple !important;

}

.dropdown-menu{
    background-color: purple !important;
}


.dropdown-item{
    color: white !important;
}
